<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{% static "generators/css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Viga:regular" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="_container">
            <div class="header__content">
                <div class="header__logo logo">
                    <img src="{% static "generators/img/icons/generator.svg" %}" alt="" class="logo">
                </div>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Generate password</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Generate nickname</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Generate GUID/UUID</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Generate user api</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    
    <script src="{% static "generators/js/img_to_svg.js" %}"></script>
    

</body>
</html>