{% extends "base.html" %}
{% load static %}
{% block css %}
{% load i18n %}

{% load static i18n %}

<link rel="stylesheet" href="{% static "css/generator_name.css" %}">{% endblock %}
{% block title %}{% trans 'Generator name' %}{% endblock %}
{% block content %}
<div class="content" id="content_id">
    <div class="_container">
        <div class="content__name">

            <div class="name__title__block">
                <h1 class="name__title title">
                    {% trans 'First name, last name and patronymic generator' %}
                </h1>
                <div class="name__subtitle subtitle">
                    <!-- Taking into account the actual frequency of their use in the modern world -->
                </div>
            </div>
            <form class="name__form">
                <div class="form__format">
                    <div class="select">
                        <label for="format_name">{% trans 'Format' %}</label>
                        <select id="format_name">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'ru' %}
                            <option value=0>{% trans 'Russian' %}. {% trans 'Full name' %}</option>
                            <option value=1>{% trans 'Russian' %}. {% trans 'First, last name' %}</option>
                            <option value=2>{% trans 'Russian' %}. {% trans 'Last, first name' %}</option>
                            <option value=3>{% trans 'Russian' %}. {% trans 'Last name and initials' %}</option>
                            <option value=4>{% trans 'Russian' %}. {% trans 'First name and initials' %}</option>
                            <option value=5>{% trans 'Russian' %}. {% trans 'First name' %}</option>
                            <option value=6>{% trans 'Eng' %}. {% trans 'First, last name' %}</option>
                            <option value=7>{% trans 'Eng' %}. {% trans 'First name' %}</option>
                            {% else %}
                            <option value=6>{% trans 'Eng' %}. {% trans 'First, last name' %}</option>
                            <option value=7>{% trans 'Eng' %}. {% trans 'First name' %}</option>
                            <option value=0>{% trans 'Russian' %}. {% trans 'Full name' %}</option>
                            <option value=1>{% trans 'Russian' %}. {% trans 'First, last name' %}</option>
                            <option value=2>{% trans 'Russian' %}. {% trans 'Last, first name' %}</option>
                            <option value=3>{% trans 'Russian' %}. {% trans 'Last name and initials' %}</option>
                            <option value=4>{% trans 'Russian' %}. {% trans 'First name and initials' %}</option>
                            <option value=5>{% trans 'Russian' %}. {% trans 'First name' %}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form__sex">
                    <div class="select">
                        <label for="sex">{% trans 'Sex' %}</label>
                        <select id="sex_name">
                            <option value="any">{% trans 'Any' %}</option>
                            <option value="male">{% trans 'Male' %}</option>
                            <option value="female">{% trans 'Female' %}</option>
                        </select>
                    </div>
                </div>
                <div class="form__count">
                    <label for="count">{% trans 'Count' %}</label>
                    <input id="count_name" class="count" type="number" min="1" max="100" value="10">
                </div>
                <button type="button" onclick="AjaxName()" class="btn">{% trans 'Get' %}</button>
            </form>
            <div class="name__null" id="name__null">
                <p>
                    {% trans 'Generates random names, Russian or English, in various formats. For Russian names, the generation of both full names and their various variations, including initials, is supported.' %}
                    
                </p>
                <p>{% trans 'Name and surname generator will help you get random results of both Russian and English names. They are formed on the basis of mixing the input data. The generator of random names and surnames will allow you to quickly come up with an online pseudonym in Latin or Cyrillic.' %}
                </p>
                <p>{% trans 'The received data can be formatted as a list using various separators, including for insertion into spreadsheets and documents.' %}
                </p>
            </div>
            <div class="name__results" id="name__results">
                <div class="results__title">
                    {% trans 'Results' %}
                </div>
                <div class="results__time">

                </div>
                <div class="results__show_control">
                    <button id="show_block" class="show_block active">
                        <span>{% trans 'Block' %}</span>
                        <img src="{% static "img/icons/rectangle.svg" %}" alt="" class="svg">
                    </button>
                    <button id="show_text" class="show_text">
                        <span>{% trans 'Text' %}</span>
                        <img src="{% static "img/icons/rectangle.svg" %}" alt="" class="svg">
                    </button>
                </div>
                <hr>
                <div class="results__block">
                    <div id="results__bigger" class="results__bigger">
                        <div id="results__bigger" class="results__bigger">
                        </div>
                    </div>
                    <div id="results__text" class="results__text">
                        <div class="select">
                            <select name="" id="textarea_params">
                                <option value=0>{% trans 'Line break' %}</option>
                                <option value=1>A, B, C ({% trans 'comma and space' %})</option>
                                <option value=2>A; B; C ({% trans 'semicolon and space' %})</option>
                                <option value=3>A,B,C ({% trans 'comma' %})</option>
                                <option value=4>A;B;C ({% trans 'semicolon' %})</option>
                            </select>
                        </div>
                        <textarea id="textarea_name" cols="1000" rows="20" class="text__block" disabled>

                        </textarea>
                        <button onclick="CopyTextArea()" class="btn">{% trans 'Copy' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="dialog_element" class="dialog_element">
        {% trans 'Copy' %}
    </div>
    <div class="alert" id="alert"></div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/name_scripts.js' %}"></script> {% endblock %}