{% extends "base.html" %}
{% load static %}
{% load static i18n %}

{% block css %}<link rel="stylesheet" href="{% static "css/generator_password.css" %}" %}">{% endblock %}
{% block title %}{% trans 'Generator password' %}{% endblock %}
{% block content %}

<div class="content" id="content_id">
    <div class="content__password">
        <div class="_container">
            <h1 class="content__title title">{% trans 'Generate a secure password' %}</h1>
            <h4 class="content__subtitle subtitle">{% trans 'Use our online password generator to instantly create a secure, random password' %}.</h4>
            <div class="generator_password">
                <div class="received_block">
                    <div class="received_block__text">
                        <span class="password" id="password"></span>
                    </div>
                    <div class="received_block__icons">
                        <img src="{% static 'img/icons/copy.svg' %}" id="icon_copy" alt="" class="svg icon_copy">
                        <img src="{% static 'img/icons/refresh.svg' %}" id="icon_refresh" alt="" class="svg icon_refresh">
                    </div>
                </div>
                <form class="form_password_block">
                    <div class="form_password_block__text">{% trans 'Customize your password' %}</div>
                    <hr>
                    
                    <div class="form">
                        <div class="length_password">
                            <input class="length_password__number" id="length_password__number" type="number" min="1" max="50" value="12">
                            <input class="length_password__range" id="length_password__range" type="range" min="1" max="50" value="12">
                        </div>
                        <div class="presets_radio">
                            <div class="preset">
                                <input class="radio_btn" type="radio" name="preset" value="easy_to_say" id="easy_to_say_id"><label for="easy_to_say_id">{% trans 'Easy to say' %}</label> 
                                <div class="preset__info">{% trans 'Avoid numbers and special characters' %}</div>
                            </div>
                            
                            <div class="preset">
                                <input class="radio_btn" type="radio" name="preset" value="easy_to_read" id="radio__easy_to_read"><label for="radio__easy_to_read">{% trans 'Easy to read' %}</label> 
                                <div class="preset__info">{% trans 'Avoid ambiguous characters like l, 1, 0 and 0' %}</div>
                            </div>
                            
                            <div class="preset">
                                <input class="radio_btn" type="radio" name="preset" value="all_characters" id="all_characters_id" checked><label for="all_characters_id">{% trans 'All characters' %}</label> 
                                <div class="preset__info">{% trans 'Any characters combinations' %}</div>
                            </div>
                        </div>
                        <div class="settings_password">
                            <input type="checkbox" name="uppercase" id="checkbox_uppercase" checked><label for="checkbox_uppercase">{% trans 'Uppercase' %}</label>
                            <input type="checkbox" name="lowercase" id="checkbox_lowercase" checked><label for="checkbox_lowercase">{% trans 'Lowercase' %}</label>
                            <input type="checkbox" name="numbers" id="checkbox_numbers" checked><label for="checkbox_numbers">{% trans 'Numbers' %}</label>
                            <input type="checkbox" name="symbols" id="checkbox_symbols" checked><label for="checkbox_symbols">{% trans 'Symbols' %}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="alert" id="alert"></div>
</div>  

{% endblock %}

{% block script %}
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/password_scripts.js" %}"></script>
{% endblock %}