{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content__group">
    <div class="_container">
        <div class="content__group__title title">List VK group</div>
        <div class="content__group__subtitle subtitle">Enter or select a group from the list</div>
        <form action="#" method="post">
            <div class="input-with-btn">
                <input type="text" placeholder="Enter VK group">
                <button type="submit" class="input-btn btn"><img src="{% static "img/icons/ok.svg" %}" alt="" class="svg"></button>
            </div>
        </form>
        <ul class="group__list">
            <li class="group__item"><a class="group__link" href="#"><img src="{% static "img/icons/group.svg" %}" alt="" class="svg group_icon">Tsdfsdgvegest</a></li>
            <li class="group__item"><a class="group__link" href="#"><img src="{% static "img/icons/group.svg" %}" alt="" class="svg group_icon">Tesdsgst</a></li>
            <li class="group__item"><a class="group__link" href="#"><img src="{% static "img/icons/group.svg" %}" alt="" class="svg group_icon">Testdf</a></li>
            <li class="group__item"><a class="group__link" href="#"><img src="{% static "img/icons/group.svg" %}" alt="" class="svg group_icon">Test</a></li>
            <li class="group__item"><a class="group__link" href="#"><img src="{% static "img/icons/group.svg" %}" alt="" class="svg group_icon">Tessdfsdgsdgsdgsdgt</a></li>
        </ul>
    </div>
</div>
{% endblock %}