.light_blue {
    color: #67C8F6;
}

.blue {
    color: #1C72F8;
}

.dark_blue {
    color: #0047b9;
}

.light_yellow {
    color: #DCDCAA;
}

.pink {
    color: #C86B9B;
}

.light_pink {
    color: #CE9178;
}

.yellow {
    color: #E2CA0A;
}

.white {
    color: #FFF;
}

.turquoise {
    color: #30D5C8;
}

