.content {
    & .content__title {
        margin: 0 0 30px 0;
        
    }
    & .content__subtitle {
        text-align: center;
        font-size: 18px;
    }

    & .generator_password{
        margin: 50px 0 0 0;
        & .received_password_block{
            display: flex;
            margin: 0 auto;
            max-width: 800px;
            padding: 30px 25px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            overflow: hidden;
            
            & .received_password_block__text {
                position: relative;
                font-size: 40px;
                overflow: hidden;
                white-space: nowrap;               
            }
            
            & .received_password_block__icons {
                display: flex;
                column-gap: 15px;
                & svg {
                    height: 32px;
                    width: 32px;
                    transition-duration: 1s;
                }


            }
        }

        & .form_password_block{
            max-width: 800px;
            margin: 30px auto 0 auto;
            border: 1px solid black;
            padding: 15px 25px;

            & .form_password_block__text{
                font-size: 25px;
                user-select: none;
                margin: 0 0 20px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.349);
                line-height:60px;
            }

            & .form {
                display: flex;
                align-items: center;
                justify-content: space-around;
                & .length_password {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    & input.length_password__number {
                        border: 1px solid black;
                        padding: 8px;
                        font-size: 18px;
                        text-align: center;
                    }
                    & input.length_password__range {

                        -webkit-appearance: none;
                        width: 100%;
                        height: 10px;
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                          
                          &:hover {
                            opacity: 1;
                          }
                          
                          &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            background: #04AA6D;
                            cursor: pointer;
                          }
                          
                          &::-moz-range-thumb {
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            background: #04AA6D;
                            cursor: pointer;
                          }
                    }
                }

                & .presets_radio {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    z-index: 0;
                    & .preset {
                        position: relative;

                        .info-img {
                            width: 19px;
                            height: 19px;
                        }

                        & label input{
                            margin: 0 5px 0 0;
                        }

                        & .preset__info {
                            display: none;
                            position: absolute;
                            border: 1px solid black;
                            background-color: #FAFAFA;
                            max-width: none;
                            top: -5px;
                            font-size: 16px;
                        }

                        &:nth-child(1) .preset__info {
                            width: 155px;
                            left: 135px;
                        }
                        &:nth-child(2) .preset__info {
                            width: 200px;
                            left: 145px;
                        }
                        &:nth-child(3) .preset__info {
                            width: 129px;
                            left: 157px;
                        }
                    }

                    
                }

                & .settings_password {
                    display: flex;
                    flex-direction: column;
                    row-gap: 6px;

                    & label input {
                       margin: 0 5px 0 0; 
                    }
                }
            }
        }
    }
}