$secondary_color: #B88ACB;


.content__password {
    & .generator_password{
        & .form_password_block{
            max-width: 800px;
            margin: 30px auto 30px auto;
            box-shadow: 5px 5px 15px rgb(204, 199, 199);
            border-radius: 10px;
            padding: 24px; 

            & .form_password_block__text{
                font-size: 25px;
                user-select: none;
                margin: 0 0 24px 0;                
                font-weight: 500;
                @media (max-width: 600px) {
                    font-size: 16px;
                }
            }

            & hr {
                border-bottom: 1px solid $secondary_color;
            }

            & .form {
                margin: 16px 0 0 0;
                display: flex;
                justify-content: space-around;
                @media(max-width: 600px){
                    flex-wrap: wrap;
                    row-gap: 20px;
                    column-gap: 10px;
                }
                & .length_password {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    @media(max-width: 600px){
                        width: 100%;
                    }
                    & input.length_password__number {
                        padding: 11px 0;
                        font-size: 18px;
                        text-align: center;
                        border-radius: 6px;
                        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1);
                        width: 62.5px;
                        height: 50px;
                        border: none;
                        @media(max-width: 600px) {
                            // width: 50px;
                        }
                    }

                }

                & .presets_radio {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    z-index: 0;
                    @media(max-width: 400px){
                        font-size: 16px;
                        font-size: 15px;
                    }
                    & .preset {
                        position: relative;
                        display: flex;
                        flex-direction: column;


                        & .preset__info {
                            color: #A5A5A5;
                            font-weight: 300;
                            font-size: 12px;
                            width: 200px;
                            position: relative;
                            left: 30px;
                            max-width: 150px;
                        }
                    }

                    
                }

                & .settings_password {
                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;
                    @media(max-width: 400px){
                        font-size: 14px;
                        font-size: 13px;
                        padding: 0 8px 0 0;
                    }

                    & label input {
                       margin: 0 5px 0 0; 
                    }
                }
            }
        }
    }
}

